<body style="background-color:red;">
<center>
<div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead" style="color:white;"><strong style="color:black;">Stay Tuned</strong> You will be recieving a Slack invite in the next 24 hours </p>
</div>
</center>
</body>
